importFrom(stats, na.omit, optim, rbinom, rexp, runif)
importFrom(parallel, makeCluster, stopCluster, clusterSetRNGStream, parLapply, parSapply)
importFrom(penalized, optL1, optL2, cvl, coefficients)
importFrom(MASS, mvrnorm)
export(opt1D, opt2D, opt.nested.crossval, create.data, opt.splitval, scan.l1l2)
